
.box-rock {
 position: relative;
}


.right-rock {
  position: fixed;
  height: 173px;
  width: 209px;
  bottom:  -10px;
  right: -19px;
}

.left-rock {
  position: fixed;
  height: 349px;
  width: 334px;
  bottom:  -10px;
  left: -20px;

}

